:root {
  --main-color: #333333;
  --logo-primary-color: #FF9B1F;
  /* --secondary-color:  */
}
html {
  scroll-behavior: smooth;
}
.purple{
  color: #7a91cc;
}
.blue-purple{
  background-color: var(--main-color);
  color: white;
}

body {
  padding-bottom: 20px;
  font-family: 'Quicksand', sans-serif;
}

.navbar {
  margin-bottom: 20px;
  padding: 3px;
  background-color: var(--main-color);
  border-radius: 0;
}
.navbar > .container > a {
  color: white;
  font-size: 2rem;
}
.navbar-brand {
  position: relative;
  padding: 0;
}
.logo {
  position: absolute;
  top: 60%;
  transform: translateY(-50%);

  font-family: "Arima Madurai";
  font-size: 55px;
  font-weight: 600;
  color: var(--logo-primary-color);
}
.dot {
  position: relative;
  top: 40%;
  left: 100%;
  height: 3.5px;
  width: 3.5px;
  background-color: var( --logo-primary-color);
  border-radius: 50%;
  display: inline-block;
}
.dot-2{
  left: 76%;
}
.jumbotron {
  background-color:var(--logo-primary-color);
  color: white;
}
.jumbotron > p {
  font-size: 1.5rem;
}
.jumbotron > p > h4 {
  color: #000;
}
.scrolling-wrapper {
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
  border-radius: 0.5em;
  border: 1px solid var(--logo-primary-color);
}
.item-box{
  /* background-color: white; */
  margin-left: 1rem;
  margin-right: 1rem;
  display: inline-block;
  border-right: 1px solid var(--logo-primary-color);
}
.item-asset-box{
  padding: 2rem 0;
}
.item-image-holder > img{
  height: 100%;
  width: 100%;
  max-width: 200px;
  max-height: 240px;
  border-radius: 0.5rem;
}
.item-image-description{
  margin-top: 1rem;
  font-size: 1.5rem;
  color: white;
}
.levering{
  margin-top: 2rem;
  margin-bottom: 0.5rem;
}
.nav-link{
  float: right;
  display: inline-block;
  padding: 1rem 0;
}

